.button{
    border: 1px solid #526334;
    border-radius: 50%;
    height: 30px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    padding: 1.3rem;
}